.image-container {
  display: inline-block;
  position: relative;
}

.image-container::before,
.image-container::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  width: 0;
  height: 0;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

.image-container::before {
  border-top: none;
  border-right: none;
}

.image-container::after {
  border-bottom: none;
  border-left: none;
}

.image-container:hover::before,
.image-container:hover::after {
  width: calc(100% + 4px);
  height: calc(100% + 4px);
}
