@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
}

body{
  font-family: 'Montserrat', sans-serif;
  background-color: #EDEDED;
}

header{
  position: relative;
}
#topHeader{
    background-image: url("img/banner.png");
    background-size: auto;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    text-shadow: 1px 2px 4px #000000;
    line-height: 4.37rem;
    letter-spacing: 0.1em;
    box-shadow: 0px 0px 40px black;
}

#botHeader{
  background-color: #BA0D05;
  margin-bottom: 20px;
}

.navmenu-list{
  padding-left: 0px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  list-style: none;
  margin-bottom: 0px;
}

.menu-item{
  padding: 10px 20px;
  color: white;
  font-weight: lighter;
  position: relative;
}

.menu-item:hover{
  background-color: #940000;
  cursor: pointer;
}

#burgerMenu{
  display: none;
}

.offcanvas-header{
  background-color: #BA0D05;
  color: white;
}

.offcanvas-body{
  background-color: #EDEDED;
  text-shadow: none;
}

#logoCalaBurger{
  width: 35px;
  margin-right: 20px;
}

#logoCala{
    width: 7.93rem;
    margin: 1.25rem;
}

.logoCalaNavScroll{
  width: 35px;
  padding-top: 4px;
  position: absolute;
  left: -500px;
  transition: all 0.5s;
}

.slide-in {
  left: 30px;
}

header p{
    font-weight: lighter;
    color: white;
    font-size: 2.93rem;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.3);
}

header h1{
    font-size: 3.75rem;
    font-weight: bold;
    color: #FF0F04;
}

.titleSection{
  font-size: 50px;
  color: #BA0D05;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.firstWord{
  font-weight: lighter;
  color: gray;
}
#sectionClub{
    display: flex;
    gap: 1.5rem;
    flex-direction: column;
}

.mainImg{
  width: 500px;
}

.secondaryImg{
  width: 350px;
}

#sectionClub img{
    box-shadow: 1px 1px 15px 0px rgba(0,0,0,0.75);
    border-radius: 3px;
    width: 100%;
}

#sectionClub img:hover{
    transform: scale(1.01);
    transition: transform 300ms ease-in-out;
    cursor: pointer;
}

#clubTop, #clubBot{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.25rem;
    align-content: center;
}

#containerClub{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.25rem;
}

#footerWave{
    width: 100%;
    /* position: relative; */
    bottom: -4px;
}

#footerSponsors{
    background-color: #BA0D05;
    display: flex;
    justify-content: center;
    padding-bottom: 1.87rem;
}

#logoMuniLomas{
  width: 200px;
}

#footerRedes{
    background-color: #FF0F04;
    box-shadow: 0px 0px 40px black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 1.2rem;
    padding: 0.62rem 1.25rem;
}

#icons p{
    font-size: 2rem;
    font-weight: bold;
}

#listRedes{
    display: flex;
    gap: 0.93rem;
    list-style: none;
    font-size: 2rem;
    padding-left: 0px;
}

#listRedes a{
    color: white;
}

.landingpage{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#textProx{
    color: #BA0D05;
    width: 300px;
    text-align: center;
}

#mainProx{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.wrapper {
    width: 200px;
    height: 60px;
    position: relative;
    z-index: -1;
  }

  .circle {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background-color: #BA0D05;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
  }
  
  @keyframes circle7124 {
    0% {
      top: 60px;
      height: 5px;
      border-radius: 50px 50px 25px 25px;
      transform: scaleX(1.7);
    }
  
    40% {
      height: 20px;
      border-radius: 50%;
      transform: scaleX(1);
    }
  
    100% {
      top: 0%;
    }
  }
  
  .circle:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
  }
  
  .circle:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }
  
  .shadow {
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
  }
  
  @keyframes shadow046 {
    0% {
      transform: scaleX(1.5);
    }
  
    40% {
      transform: scaleX(1);
      opacity: .7;
    }
  
    100% {
      transform: scaleX(.2);
      opacity: .4;
    }
  }
  
  .shadow:nth-child(4) {
    left: 45%;
    animation-delay: .2s
  }
  
  .shadow:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
  }

.back{
    font-size: 50px;
    color: #BA0D05;
}

.back:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: transform 300ms ease-in-out;
}


@media (max-width: 780px){

    header p, header h1{
        display: none;
    }

    #topHeader{
        background-size: 100% 100%;
        background-image: none;
        background-color: #BA0D05;
        margin-bottom: 20px;
        justify-content: space-between;
    }

    #botHeader{
      display: none;
    }

    #burgerMenu{
      display: block;
      /* top: 14px;
      right: 0px; */
    }

    #logoCala{
        width: 3rem;
        margin: 10px;
    }

    #sectionClub img, .mainImg, .secondaryImg{
        width: 300px;
        height: 300px;
    }

    #icons p, #listRedes{
        font-size: 1.5rem;
    }

    #footerRedes{
      font-size: 0.7rem;
    }
}