<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Historia | Los Andes</title>
    <link rel="shortcut icon" href="../../img/Escudo.ico" type="image/x-icon">
    <link rel="stylesheet" href="../../styles.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>
<body>
    <div class="preloader">
		<img src="../../img/Escudo.png" alt="Preloader">
	</div>
    <header>
        <div id="topHeader">
            <img src="../../img/Escudo.png" alt="Escudo CALA" id="logoCala">
            <div>
                <p>Club Atletico</p>
                <h1>LOS ANDES</h1>
            </div>
            <nav class="navbar" id="burgerMenu">
                <div class="container-fluid">
                <button class="btn btn-transparent" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation"><span class="fa-solid fa-bars fa-xl" style="color: white;"></span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"><img src="../../img/Escudo.png" alt="Escudo CALA" id="logoCalaBurger">Menú</h5>
                        <button type="button" class= "btn fa-solid fa-xmark fa-2xl" style="color: #ffffff;" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../proximamente.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../proximamente.html">Noticias</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="../../index.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            El Club
                            </a>
                            <ul class="dropdown-menu bg-transparent border-0">
                            <li><a class="dropdown-item" href="../../index.html">- General</a></li>
                            <li><a class="dropdown-item" href="historia.html">- Historia</a></li>
                            <li><a class="dropdown-item" href="../proximamente.html">- Estadio</a></li>
                            <li><a class="dropdown-item" href="estatuto.html">- Estatuto</a></li>
                            <li><a class="dropdown-item" href="../proximamente.html">- Comisión Directiva</a></li>
                            <li><a class="dropdown-item" href="../proximamente.html">- Sede Social</a></li>
                            <li><a class="dropdown-item" href="protocoloDeGenero.html">- Protocolo de género</a></li>
                            <!-- <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="proximamente.html">Something else here</a></li> -->
                            </ul>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../proximamente.html">Futbol</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../proximamente.html">Deportes</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../proximamente.html">Prensa</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../proximamente.html">Socios</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../proximamente.html">Tienda</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
            </nav>
        </div>
    </header>
    <nav class="sticky-top" id="botHeader">
        <ul class="navmenu-list">
            <img src="../../img/Escudo.png" alt="logo CALA" class="logoCalaNavScroll">
            <li class="menu-item" onclick="location.href = '../proximamente.html'">Noticias</li>
            <li class="menu-item" onclick="location.href = '../../index.html'">El Club</li>
            <li class="menu-item" onclick="location.href = '../proximamente.html'">Futbol</li>
            <li class="menu-item" onclick="location.href = '../proximamente.html'">Deportes</li>
            <li class="menu-item" onclick="location.href = '../proximamente.html'">Prensa</li>
            <li class="menu-item" onclick="location.href = '../proximamente.html'">Socios</li>
            <li class="menu-item" onclick="location.href = '../proximamente.html'">Tienda</li>
        </ul>
    </nav>
    <main id="mainProtocoloGenero">
        <div class="contentDefault">
            <h2 class="titleSection"><span class="firstWord">La </span>Historia</h2>
            <p class="subtitle">Una historia de “El más popular del Sur”</p>
            <section id="protocoloArticulos">
                <article class="articleDefault">
                    <h3>Nacimiento y nombre</h3>
                    <hr>
                    <p>Los Andes nació en un lugar por donde miles y miles pasamos todos los días. Pegado a la estación de Lomas, sobre Gorriti, en un baldío. José Gogenola, Eduardo Gallardón, Diego Urioste, E. Adolfo Langet, Federico Galán, Antonio Talgiani, Amoroso, José Piaggio, Aboitiz, Crespo, Marcos Panizzi: ahí está la lista (seguramente incompleta) de los apellidos y los nombres de los chicos que se juntaban a jugar a la pelota y a lo mejor soñaban que  ellos mismos iban a ser el comienzo de la leyenda de sus vidas. Y también de las nuestras.</p>
                    <p>Voluntad les sobraba: decidieron formar un club que, por supuesto, tenía que tener un nombre.</p>
                    <p>¿Cómo elegirlo?</p>
                    <p>En aquella primera parte del siglo XX, mientras se aceleraba la popularidad del fútbol, los grandes ídolos deportivos eran los héroes del cielo, con sus hazañas acompañadas por multitudes. Jorge Newbery fue el número uno, pero había otros. 1916 fue el año de una de esas grandes proezas aéreas. El capitán Angel María Zuloaga y el piloto Eduardo Bradley cruzaron por primera vez cuzar la cordillera en un globo. Dos valientes que arriesgaron su vida para volar a 8100 metros de altura resistiendo una temperatura de 32 grados bajo cero merecían un homenaje eterno. A más de 1000 kilómetros, un grupo de adolescentes hizo justicia.</p>
                    <p>Y sí: tranquilamente pudimos llamarnos “Eduardo Newbery” (el nombre del globo) o, por qué no, “Zuloaga y Bradley”. Más de 100 años despúes ya estaríamos acostumbrados. Pero primó la síntesis y por iniciativa de Loizú, uno de los fundadores, el obstáculo, la gran cadena montañosa como un reto para los audaces, nos regaló el nombre: <b>Los Andes</b>.</p>
                </article>
                <article class="articleDefault">
                    <h3>Primeros pasos</h3>
                    <hr>
                    <p>El primer paso estaba dado y había que nombrar autoridades. <b>E. Adolfo Langet</b>, elegido el primer presidente, ocupó el cargo apenas 22 días, antes de renunciar por razones laborales y estudiantiles. Su vida terminó en un accidente en el que también murió Marcos Panizzi. El único sobreviviente fue quien escribiría con sus sueños y acciones la historia defintiva de Los Andes: <b>Eduardo Gallardón</b>.</p>
                    <p>Una genialidad de Gallardón fue publicar la revista “Nuevas Ideas”, que tenía la tirada de un ejemplar, que se “alquilaba” para que pasara de mano en mano. Una de las primeras notas resalta el primer triunfo de nuestra historia, frente a un equipo llamado "Adelante Yrigoyen". 1916 fue un año de quiebre en el país, con la llegada al poder del primer presidente que ganó una elecciones democráticas en serio. En la cancha, los militantes del “Peludo” no pudieron contra nuestros bravos muchachos, que les ganaron 3 a 0.</p>
                    <p>La historia cuenta que el primer partido más o menos formal lo jugamos contra un equipo de nombre un poco intimidante: "Fomentos Peligrosos". Esa vez, tocó perder.</p>
                    <p>Nos llamábamos <b>Los Andes Foot-ball club</b> y llevábamos varios meses de vida cuando llegó la fundación formal, el primer día de enero de 1917.</p>
                    <img src="../../img/elClub/Historia/equipo1917.png" alt="Equipo 1917">
                    <div>
                        <button class="btnReadMore" onclick="readMore(event)">+ Info</button>
                        <div class="containerReadMore">
                            <p>Nota gráfica de valor histórico. Es el primer equipo de Los Andes de 1917. De pie, de izquierda a derecha: Julio Regazzi, García, Alfredo Novi, Diego Arioste, Antonio Piaggio y el "Negro Tio Galera", mascota del conjunto. Hincados: Néstor de la Peña, Marcos Panizzi y Julio Ricagno. En primera fila: Carlos Tittonel, Antonio Tagliani, Juan Benci, Eduardo Gallardón y Amadeo Bucci</p>
                            <button class="btnReadLess" onclick="readLess(event)">- Info</button>
                        </div>
                    </div>
                </article>
                <article class="articleDefault">
                    <h3>Primeros colores</h3>
                    <hr>
                    <p>Ni las milrayitas ni el rojo y blanco que tenemos adherido al cuerpo como un tatuaje. Inspirada en los colores de Racing, nuestra primera camiseta fue celeste, con una banda blanca horizontal. En 1922 llegó la casaca que nos dio el apodo eterno. Fue una idea de Eduardo Gallardón, que tomó el diseño de Sportivo Barracas, y eligió el rojo para diferenciarla de las camisetas de los vecinos Temperley y Banfield.</p>
                    <img src="../../img/elClub/Historia/equipo1921.jpeg" alt="Equipo 1921">
                    <div>
                        <button class="btnReadMore" onclick="readMore(event)">+ Info</button>
                        <div class="containerReadMore">
                            <p>Equipo correspondiente al año 1921, es la segunda foto más antigua que se tiene del club, cuando aún no estaba afiliado a la Aso, Arg. De Football. Aquí participaba del torneo organizado por la Fed.Dep. de la Pcia. de Bs.As.</p>
                            <button class="btnReadLess" onclick="readLess(event)">- Info</button>
                        </div>
                    </div>
                    <img src="../../img/elClub/Historia/equipo1922.jpeg" alt="Equipo 1922">
                    <div>
                        <button class="btnReadMore" onclick="readMore(event)">+ Info</button>
                        <div class="containerReadMore">
                            <p>Equipo de 1922 que por su privilegiada posición en la Zona Sud de Segunda de la Aso. Arg. de Football logra el ascenso a Intermedia. De izquierda a derecha, arriba Alfredo Novi, Juan Tamagno, Ursino Fernández, Antonio Piaggio y Alberto Gallardón. Abajo Antonio Giana, José Tito, Héctor Pucheu, Oscar Rodríguez, Almanzor Elías Spink y Savino Tito.</p>
                            <button class="btnReadLess" onclick="readLess(event)">- Info</button>
                        </div>
                    </div>
                </article>
                <article class="articleDefault">
                    <h3>Las sedes sociales</h3>
                    <hr>
                    <p>Las primeras reuniones de los jóvenes dirigentes fueron en el sótano de la lechería Gallardón, en Meeks 24. Después alquilaron el local de Laprida 501, donde funcionó la primera sede social.  Estuvimos hasta 1939, cuando nos mudamos a Carlos Pellegrini 66, donde nos quedamos hasta 1948. En ese lugar llegó una etapa de esplendor social, con los grandes bailes como actividad principal.</p>
                    <p>La siguiente mudanza fue a la sede actual, en Hipólito Yrigoyen 9549. En un sitio que en aquel momento era una quinta con una gran arboleda, siguió la fiesta con las veladas animadas por grandes figuras y las mejores orquestas.</p>
                    <p>Con la sede entró a la historia grande de Los Andes la familia Agosti. Los hermanos le vendieron el terreno al club por un precio debajo del valor de mercado. Y terminaron donando la deuda que mantenía el club con ellos. En homenaje a aquel gesto, hoy el microestadio de la sede lleva el nombre de Santiago Agosti, el padre de los hermanos.</p>
                    <p>Pese a construcciones espectaculares como la pileta olímpica o la desaparecida cancha de pelota a paleta, la sede se mantuvo como una obra inconclusa durante décadas. Ya en el siglo XXI fue centro de una gran gesta de las socias y los socios de Los Andes. Entregada a una concesión que la iba a mantener en manos ajenas hasta 2047, la sede fue recuperada luego de meses y meses de movilización. Desde 2012, el 23 de mayo, el día de la recuperación formal, es el “Día mundial de los hinchas y las hinchas de Los Andes”</p>
                </article>
                <article class="articleDefault">
                    <h3>Las canchas</h3>
                    <hr>
                    <p>El primer terreno formal para la práctica del fútbol quedaba en la manzana de las calles Lamadrid, Pedernera, Viamonte y Pueyrredón, en Lomas Este. Todo eso era un inmenso baldío y los muchachos levantaron como vestuario una casilla precaria con las maderas de los embalajes de los autos marca Buick. El terreno era alquilado con el dinero de los propios jugadores, con algunos préstamos y con lo que juntaban con rifas y kermeses.</p>
                    <p>En 1922, Los Andes se mudó a Matheu y Arenales. Ahí llevaron la casilla. "Teníamos alma de nómades. Por supuesto, que por las circunstancias. Si ahora es difícil, no le digo de las dificultades de antes. La diferencia estaba en que no sé si por el tiempo o por las condiciones de vida, había mucho amor; afiebrado amor por lo que se hacía”, dijo Eduardo Gallardón años después.</p>
                    <p>En 1925 la cancha se situó en el campo de "El Aguila", en la manzana de Díaz Vélez, Olazábal, Gorriti, y Loria. Si vivís ahí, quizá donde tenés la cocina estaba uno de los puntos del penal, o abajo de tu cama pateaban los corners.</p>
                    <p>De a poco nos fuimos acercando el destino final. La anteúltima cancha de Los Andes estuvo en un lugar donde hoy todos los días se junta un gentío. El 26 de abril de 1931 fue inaugurado el nuevo campo de deportes en Laprida al 1200, en la actual Plaza Libertad. Para la época era un estadio coqueto con palcos de madera y vestuarios. El principal material utilizado para la construcción fue, una vez más, la madera de las cajas utilizadas para embalar automóviles, que según Eduardo Gallardón, era fuerte, noble y barata. La manzana fue alquilada a nombre de Eduardo Gallardón y Juan Da Grazia porque el club no tenía personería jurídica.</p>
                    <p>La inauguración fue con una gran fiesta. Suelta de palomas, carreras pedestres de 100, 1000 y 4000 metros y postas de 4 por 100. También hubo un partido de básquet entre Los Andes y Lomas Alumni. La fiesta se cerró con dos partidos amistosos de fútbol contra Nacional de Adrogué. En el principal Los Andes se impuso por 1 a 0, con un gol convertido por Villén.</p>
                    <p>Y llegó el estadio actual, habilitado oficialmente el sábado 28 de septiembre de 1940, con un triunfo ante Temperley. Tenía una tribuna de cemento de 16 escalones, a la que después le agregaron en la parte central otros 16, para colocar las plateas. Con el ascenso de 1960 se construyó la colosal tribuna Horacio Palacios, una de las más grandes de los estadios argentinos.</p>
                    <p>En 1980, el estadio fue bautizado con el nombre de Eduardo Gallardón. En 2017 sumó su tribuna cabecera. Con una capacidad para más de 35.000 personas, es el estadio más grande del distrito de Lomas de Zamora.</p>
                </article>
                <article class="articleDefault">
                    <h3>El fútbol, la pasión</h3>
                    <hr>
                    <p>Los Andes se afilió el 22 de febrero de 1922 a la Asociación Argentina de Football, que al fusionarse con la Asociación Amateur en 1926 conformó la Asociación del Fútbol Argentino. Ese mismo año ascendió a Intermedia.</p>
                    <p>El inicio de la era profesional, en 1931, nos encontró en la tercera división. En 1938, volvimos a la segunda con un equipo que hizo una campaña irrepetible: ganó 14 de los 15 partidos. Ese año tuvo origen la leyenda de un apellido: la gran figura fue Manuel Da Graca, para muchos el primer ídolo de la historia de Los Andes.</p>
                    <p>En 1957 gritamos otra vez campeones, con el título de la segunda división de ascenso. La figura y goleador, Ángel del Moro, otro ídolo inmortal.</p>
                    <p>Tres años después Los Andes llegó a la cima, como les gustaba jugar con el nombre a los periodistas. León Goldbaum, Ramón Salas, Héctor Abril, José Giaimo, Rodolfo Romero, Osvaldo Diez, Dardo Migoni, Ángel Reynoso, José Urben Farías, Miguel Baiocco, Héctor Pedutto y Norberto Figueroa fueron los nombres principales del primer ascenso a Primera División. La campaña se coronó con un triunfo en la cancha de Talleres de Escalada y la caranava hasta Lomas y la fiesta frente a la sede fueron extraordinarias.</p>
                    <p>Duramos sólo un año, pero en esa misma década volvimos a Primera. Fue en 1967 y la vía el viejo torneo reclasificatorio entre equipos de la A y la B. En ese equipo se destacó el segundo Da Graca de la historia, Abel, uno de los jugadores más exquisitos y de mayor nivel que pasó por el club. Para algunos, el mejor de todos.</p>
                    <p>El primer año en esta segunda etapa en Primera División fue el más importante en la historia futbolística del club. Con figuras tremendas como el propio Da Graca, Alfredo Obberti, Aldo Vilagra y Jorge Ginarte, el milrayitas logró algunos triunfos rutilantes, como un 3 a 1 contra River en el Monumental. Por su buena campaña clasificó para el torneo Nacional.</p>
                    <p>Fueron nuestros “años de oro”. Nos mantuvimos en Primera hasta 1971 y a partir de entonces empezó un largo período en la vieja Primera B. Estuvimos cerca de volver en 1977, en los tiempos de otro ídolo máximo, Juan Carlos “El Nene” Díaz. También en 1983, con el equipazo de Pedro Marchetta, con jugadores destacados como José Tiburcio Serrizuela, Luis Escobedo, Sergio Saturno y el “Colo” Cuellos.</p>
                    <p>Otra vez estuvimos “ahí” en 1986, ya en el Nacional B, con el lujoso equipo de los pibes rosarinos. El primer ascenso para una generación (o más de una) fue desde la tercera categoría, en 1994. Festejamos a lo grande aquel día de julio en la cancha de Lanús, cuando definimos la final con Deportivo Armenio. Como si hubiera estado escrita por un guionista, la historia anotó al tercer Da Graca, Hernán, que metió el gol de Los Andes en los primeros segundos del partido.</p>
                    <p>En ese equipo estaban Gabriel Lobos y Orlando Romero, “Romerito”, el último ídolo unánime del club. Los dos iban a estar otra vez en la vuelta a Primera, en la campaña soñada e inolvidable de 1999/2000. Con el “Gordo” Ginarte en el banco, los goles de otro “Gordo”, Ferrer, y un equipo casi imbatible, el corazón nos explotó con el gol de Fabio Pieters y el éxtasis en la cancha de Quilmes fue absoluto.</p>
                    <p>“Los Andes ya estuvo en Primera/ Y un día tenía que volver”, cantábamos todo el día. La tercera experiencia tuvo un clímax en el debut, con el triunfazo ante Racing. Pero caímos en una racha negativa y aunque repuntamos en la segunda ronda, no pudimos mantenernos.</p>
                    <p>No volvimos (todavía) a Primera, pero en los años siguientes nos dimos algunos gustos. El ascenso de 2008, con el crack de Jonatan Tridente en su pico. El paso por la B Nacional fue efímero, pero volvimos en 2014, cuando fuimos campeones después de 54 años, con el equipo inspirado y contundente de Fabián Nardozza.</p>
                </article>
            </section>
        </div>
    </main>
    <footer>
        <img src="../../img/wave2.png" alt="" id="footerWave">
        <div id="footerSponsors">
            <img src="../../img/MuniLomas.png" alt="" id="logoMuniLomas">
        </div>
        <div id="footerRedes">
            <div id="icons">
                <p>SEGUINOS</p>
                <ul id="listRedes">
                    <li><a href="https://www.youtube.com/@ClubAtleticoLosAndesOficial" target="_blank"><i class="fa-brands fa-youtube"></i></a></li>
                    <li><a href="https://www.instagram.com/clublosandes/" target="_blank"><i class="fa-brands fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/clublosandesoficial" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
                    <li><a href="https://twitter.com/clublosandes" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
                    <li><a href="https://www.tiktok.com/@clublosandes" target="_blank"><i class="fa-brands fa-tiktok"></i></a></li>
                </ul>
            </div>  
            <img src="../../img/Escudo.png" alt="" id="logoCalaFooter">
            <p>© Copyright 2023 Los Andes</p>
        </div>
    </footer>
    <script src="https://kit.fontawesome.com/50303851c6.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
    <script src="../../script.js"></script>
</body>
</html>